@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}



/* Banner styles are here */
.banner-container {
    width: 1440px;
    min-height: 652px;

    width: 100%;
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 74px;

}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
}

.banner-content h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-top: 32px;
}

.banner-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 32px;
}

.banner-content #contact-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 24px 21px 24px;
    width: 208px;
    height: 66px;
    border-radius: 8px;

    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-weight: 600;
}
/* Banner styles ends here */
/* Devlopment main styles starts here */
.devlopment{
    display: flex;
    /* align-items: center; */
    width: 1140px;

height: 1395px;
margin: 0 auto;
}
.part-one{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25%;
}
.part-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25%;

}
/* my inspiration style starts here */
.my-inspiration-container{
    width: 1140px;
height: 775px;

margin: 0 auto;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.my-inspiration-container h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;
margin-bottom: 24px;
}
.my-inspiration-container p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin-bottom: 48px;
text-align: center;
}
 .iframe-content{
    width: 1140px;
height: 614px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
padding: 15px;

}
.iframe-content>iframe {
    width: 100%;
    height: 100%;
}

.item>p{
    color: rgb(13, 19, 33);

    
}
.itm>h1{
    
}
/* My target style starts here */
.target-container{
    width: 1140px;
height: 460px;
border: 2px solid red;
margin: 0 auto;
}
.target-content{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.target-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 24px;
}
.target-skills{
    display: flex;
    gap: 24px;
    justify-content:center;
    text-align: center;
    border-radius: 16px;
    margin-top:48px;
    


    
}
.item{
    padding: 40px;
    flex: 1;
    text-align: left;
}
.target1{
   
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
}
.target2{
    border-radius: 16px;
background-color: rgba(0, 76, 232, 0.05);
}
.target3{
    border-radius: 16px;
background-color: rgba(255, 223, 0, 0.05);
}
.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
  }
  
  .flex-container > div {
    background-color: DodgerBlue;
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }


